<form class="form-horizontal">
	<fieldset>
		<legend>Password settings</legend>
		<div class="form-group">
			<label class="control-label col-xs-3">Length:</label>
			<div class="col-xs-6 btn-group">
				<button class="btn btn-default" ng-model="radioLength" btn-radio="8">8</button>
				<button class="btn btn-default" ng-model="radioLength" btn-radio="12">12</button>
				<button class="btn btn-default" ng-model="radioLength" btn-radio="16">16</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-3 col-xs-6">
				<button class="btn btn-default" ng-click="generatePassword()"><i class="fa fa-key"></i> Generate passwords</button>
			</div>
		</div>
		<div class="form-group" ng-hide="0 == passwords.length">
			<label class="control-label col-xs-3">Results:</label>
			<div class="col-xs-6">
				<select class="form-control" name="passwords" size="8" ng-change="generateHash()" ng-model="selectedPassword" class="input-xlarge">
					<option ng-repeat="password in passwords">{{password}}</option>
				</select>
			</div>
		</div>
		<div class="form-group" ng-hide="0 == passwords.length">
			<label class="control-label col-xs-3">Selected password:</label>
			<div class="col-xs-6">
				<input type="text" readonly ng-model="selectedPassword" class="form-control input-sm">
			</div>
		</div>
	</fieldset>

	<fieldset ng-hide="0 == passwords.length">
		<legend>Hashing</legend>
		<div class="form-group">
			<label class="control-label col-xs-3">Algorythm:</label>
			<div class="btn-group col-xs-6">
				<button class="btn btn-default" ng-model="radioHash" btn-radio="1" ng-click="generateHash()">MD5</button>
				<button class="btn btn-default" ng-model="radioHash" btn-radio="2" ng-click="generateHash()">SHA-1</button>
				<button class="btn btn-default" ng-model="radioHash" btn-radio="3" ng-click="generateHash()">SHA-256</button>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3" for="prefix">Prefix:</label>
			<div class="col-xs-6">
				<input type="text" name="prefix" id="prefix" ng-model="prefix" ng-change="generateHash()" class="form-control input-sm">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3" for="suffix">Suffix:</label>
			<div class="col-xs-6">
				<input type="text" name="prefix" id="suffix" ng-model="suffix" ng-change="generateHash()" class="form-control input-sm">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3">Your hash:</label>
			<div class="col-xs-6">
				<input type="text" readonly ng-model="hash" class="form-control input-sm">
			</div>
		</div>
	</fieldset>
</form>