<form class="form-horizontal">
	<fieldset>
		<legend>Date and time</legend>
		<div class="form-group">
			<label class="col-xs-2 control-label">Date</label>
			<div class="col-xs-2">
				<input type="number" name="year" class="form-control input-sm" placeholder="Year" ng-model="year">
			</div>
			<div class="col-xs-2">
				<input type="number" min="1" max="12" name="month" class="form-control input-sm" placeholder="Month" ng-model="month">
			</div>
			<div class="col-xs-2">
				<input type="number" min="1" max="31" name="day" class="form-control input-sm" placeholder="Day" ng-model="day">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">Time</label>
			<div class="col-xs-2">
				<input type="number" min="0" max="23" name="hour" class="form-control input-sm" placeholder="Hour" ng-model="hour">
			</div>
			<div class="col-xs-2">
				<input type="number" min="0" max="59" name="minute" class="form-control input-sm" placeholder="Minute" ng-model="minute">
			</div>
			<div class="col-xs-2">
				<input type="number" min="0" max="59" name="second" class="form-control input-sm" placeholder="Second" ng-model="second">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">Timestamp</label>
			<div class="col-xs-6">
				<input type="number" name="tsmp" class="form-control input-sm" placeholder="Timestamp" ng-model="tsmp">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-6">
				<button class="btn btn-default" ng-click="convertTime()"><i class="fa fa-exchange"></i> Convert</button>
				<button class="btn btn-danger" ng-click="reset()"><i class="fa fa-refresh"></i> Reset</button>
			</div>
		</div>
	</fieldset>
</form>