<form class="form-horizontal">
	<fieldset>
		<legend>URL decoder/encoder</legend>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea ng-model="dencoder" rows="20" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-default" ng-click="decode()"><i class="fa fa-sign-out"></i> Decode</button>
				<button class="btn btn-default" ng-click="encode()"><i class="fa fa-sign-in"></i> Encode</button>
			</div>
		</div>
	</fieldset>
</form>